<!doctype html>
<html lang="en">
    <head>
        <title>Positron</title>
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=5"
        />
        <meta name="description" content="Build desktop apps with Python" />
        <link rel="stylesheet" href="/static/style.css" />
        <link
            rel="shortcut icon"
            type="image/svg+xml"
            href="/static/favicon.svg"
        />
    </head>
    <body>
        <header>
            <img src="/static/favicon.svg" />
            <h1>Positron</h1>
        </header>
        <main>
            <section>
                <h2>Hey there!</h2>
                <p>
                    I'm working just fine. Why are you still waiting? Let's
                    build something great!
                </p>
                <p>Check out the tutorial to get started.</p>
                <a href="https://github.com/kaangiray26/positron">
                    <button>Tutorial</button>
                </a>
            </section>
        </main>
    </body>
</html>
