/* userChrome.css for Firefox */

/* Things to hide: */
#nav-bar,
#PersonalToolbar,
#firefox-view-button,
#alltabs-button,
#tabbrowser-arrowscrollbox-periphery,
#toolbar-menubar,
.titlebar-spacer,
.devtools-toolbox-bottom-iframe,
#sidebar-box,
#sidebar-splitter,
tab,
menupopup {
    visibility: collapse !important;
}

#TabsToolbar {
    min-height: 44px !important;
}

#TabsToolbar::after {
    content: "Positron";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    font-size: 1rem;
    height: 44px;
    width: 100%;
}
